<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookfliy</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  </head>
<body>
    <% if(locals.user) {%>
    <!-- NavBar -->
    <header id="header" class="bg-success sticky-top bsb-tpl-header-sticky font">
        <nav class="navbar navbar-expand-md bsb-navbar-3 bsb-tpl-navbar-sticky" data-bsb-sticky-target="#header">
          <div class="container">
            <!-- Logo -->
            <a class="navbar-brand">
              <img src="/styles/images/logo.png" width="45" height="45" class="bsb-tpl-logo" alt="BootstrapBrain Logo">
            </a>
            <!-- Button toggler -->
            <button class="navbar-toggler bg-light border-0" type="button" data-bs-toggle="collapse" data-bs-target="#bsbNavbar" aria-controls="bsbNavbar" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <!-- User -->
            <div class="collapse navbar-collapse" id="bsbNavbar" data-bs-theme="dark">
              <ul class="navbar-nav bsb-dropdown-menu-responsive ms-auto align-items-center">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle bsb-dropdown-toggle-caret-disable" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/styles/images/user.jpg" width="35" height="35" class="img-fluid rounded-circle" alt="user pic">
                  </a>
                  <ul class="dropdown-menu dropdown-menu-md-end bsb-dropdown-animation bsb-fadeIn">
                    <li>
                      <h6 class="dropdown-header text-light fs-7 text-center">Welcome, <%= user[0].name %></h6>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="/homepage">
                        <span>
                          <i class="bi bi-person-fill me-2"></i>
                          <span class="fs-7">Home Page</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/bookdash">
                        <span>
                          <i class="bi bi-person-fill me-2"></i>
                          <span class="fs-7">Book Dashboard</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/logout">
                        <span>
                          <i class="bi bi-person-fill me-2"></i>
                          <span class="fs-7">Log out</span>
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>
<% } %>