<%- include('partials/homepageHeader.ejs') %>

<div class="align-self-center text-center text-light col-md-8 offset-md-2">
    <div class="lc-block mb-4">
        <div editable="rich">
            <h1 class="display-1 fw-bolder text-info">Bookfliy</h1>
        </div>
    </div>

    <div class="lc-block">
        <div editable="rich">
            <p class="fs-4">Save your book collection, your notes and recommendation in one place.</p>
        </div>
    </div>

    <div class="lc-block">
        <div class="row justify-content-center">
            <div class="col-md-3 my-2">
                <a class="btn btn-primary btn-lg" href="/register">Register</a>
            </div>
            <div class="col-md-3 my-2">
                <a class="btn btn-primary btn-lg" href="/login">Log in</a>
            </div>
        </div>
    </div>
</div>
</div>

<%- include('partials/footer.ejs') %>
